<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Libri/Autori</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/autori">Autori preferiti</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/libri">Libri preferiti</a>
        </li>
    </ul>
    <a class="btn btn-outline-secondary my-2 my-sm-0" href="/logout">Logout</a>
</nav>